html {
    background-color: blanchedalmond;
    font-family: Arial, "Courier New", sans-serif;
    display: block;
    margin: auto;
}

h1 {
    font-size: 40px;
    color: black;
    text-align: center;
}

h3 {
    font-family: "Courier New";
}

h4{
    font-family: "Courier New";
}

.link {
    white-space: nowrap;
    font-size: 30px;
    color: rgb(0, 17, 248);
    display: block;
    margin: auto;
}

.link.home{
    width: 100px;
}

.link.main {
    position:relative;
    left: 1200px;
    top: -1520px;
}


img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;

}

.nutrition {
    display: block;
    margin-left: 32px;
}

.sticky {
    background: #B8C1C8;
    border-bottom: 1px solid #989EA4;
    border-top: 1px solid #717D85;
    color: #FFF;
    margin: auto;
    padding: 2px 0 0 12px;
    text-align:center;
    position: sticky;
    top: -1px;
  }

 .blockone {
    position:relative;
    left:300px;
    inline-size: 450px;
    font-size: 40px;
 }